{% extends 'main/base.html' %}


{% block content %}

    <div class="row my-3">
        <div class="col">
            <a href="{% url 'homepage' %}" class="btn btn-outline-primary">Zpět</a>
        </div>
    </div>
    <hr>

    <div class = "row">
        <div class = "col">
            <h1>{{ painting.name }}</h1>
            
            <p>
                {% if painting.main_picture %}
                    <img src="{{painting.main_picture}}" alt="Painting" class="img-fluid">
                {% else %}
                    <img src="//place-hold.it/600x600/" alt="Painting" class="img-fluid">
                {% endif %}
            </p>
        
            <p>
                {% if painting.author %}
                    <h6>{{ painting.author }} ({{ painting.author.birth_year }})</h6>
                {% endif %}
        
                {% if painting.year %}
                    <h6>Rok vzniku: {{ painting.year }}</h6>
                {% endif %}
        
                {% if painting.origin_nation %}
                    <h6>Země vzniku: {{painting.origin_nation}} </h6>    
                {% endif %}
        
                {% if painting.art_movement %}
                    <h6>Umělecký směr: {{painting.art_movement}} </h6>    
                {% endif %}
        
                {% if painting.technique %}
                    <h6>Technika: {{painting.technique}} </h6>    
                {% endif %}
        
                <p>
                    {{painting.description}}
                </p>
        </div>
    </div>
    

    
        
        <!-- {% for genre in movie.genres.all %}
            <span class="badge bg-primary">{{ genre.name }}</span>
        {% endfor %} -->

{% endblock %}