{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <h1>Mravkolev</h1>

    <div class="row">
      <div class="d-none d-sm-block col-sm-6">
        <img id="obr01" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/A_ant-lion_8946.jpg/800px-A_ant-lion_8946.jpg" alt="Larva Mravkolva" class="img-fluid">
      </div>
      <div class="col-12 col-sm-6 col-x1-2">
        <p>Mravkolev (rody Myrmeleon, Euroleon, Dendroleon a jiné) je označení pro mnoho rodů hmyzu z řádu síťokřídlých. Celkový počet druhů dosahuje asi 2000. Nejznámějším druhem v ČR je mravkolev běžný (Myrmeleon formicarius). Mravkolev (rody Myrmeleon, Euroleon, Dendroleon a jiné) je označení pro mnoho rodů hmyzu z řádu síťokřídlých. Celkový počet druhů dosahuje asi 2000. Nejznámějším druhem v ČR je mravkolev běžný (Myrmeleon formicarius). </p>
        <button 
        class = "btn btn-outline-primary btn-lg"
        onclick="akce()"
        >Cott</button>
      </div>
    </div>

    <div class="row ">
      <div class="col-12 col-sm-4 text-center">
        <img src="https://www.svgrepo.com/show/398184/rat.svg" alt="Rat image" class="img-fluid"  style="max-width: 150px;">
      </div>
      <div class="col-12 col-sm-4 text-center">
        <img src="https://www.svgrepo.com/show/398184/rat.svg" alt="Rat image" class="img-fluid" style="max-width: 150px;">
      </div>
      <div class="col-12 col-sm-4 text-center">
        <img src="https://www.svgrepo.com/show/398184/rat.svg" alt="Rat image" class="img-fluid" style="max-width: 150px;">
      </div>
    </div>


    <h2>Dravé larvy</h2> 
    <p>Dravé larvy tohoto hmyzu mají zajímavý způsob lovu. Žijí zahrabané v sypkém materiálu, zejména v jemném písku, ve kterém vytvářejí nálevkovité pasti, jejichž sypké strany zabraňují úniku drobného hmyzu – zejména mravenců, tvořících hlavní složku jejich potravy, kterou vysají. Když mravenec vleze za okraj nálevky, shodí několik zrníček písku na dno. Upozorní tím mravkolva a ten na něj začne házet jemný písek, kterým ho shodí k sobě na dno. Larva je stále schována na dně pod vrstvičkou písku, takže ji obvykle není vidět.</p>
    <a href="https://cs.wikipedia.org/wiki/Mravkolev"> Wikipedie Mravkolev</a>
    <a href="two.html">Druhá stránka</a>
    <img src="https://www.svgrepo.com/show/398184/rat.svg" alt="Rat image" class="w-100" style="max-width: 300px;">
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img src="https://www.marion-jj.cz/galerie/products_cs/1558006354_cs_kok-lahev-2.jpg" class="card-img-down" style="max-width: 300px;" alt="...">
        <div class="card-body">
          <h5 class="card-title">KOK</h5>
          <p class="card-text">Kokokokokokokokokokokkokokokokokokokokokokokokokokokokokokokokokokokokokokokokokokokokokokokokokk</p>
          <a href="#" class="btn btn-primary">Kokkkkkkk?</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img src="https://www.postavy.cz/foto/diplokok-velitel-foto.jpg" style="max-width: 300px;"class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Diplokok</h5>
          <p class="card-text">Tisíc podob život mívá
            kdo ho chce znát, ať se dívá
            
            Vím jak světem jít (jak jít)
            životem svým tebe blízko nás
            má všechno co má mít (všechno co má mít)
            ukrývá plno krás, jako pták
            co výš k nebi lítá
            budu dál si svůj život brát
            </p>
          <a href="#" class="btn btn-primary">Diplokok!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWIJgr-c8FE497DGcfb5bKHOszZEM9bm3i9w&s" style="max-width: 300px;"class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">AMOGUS?</h5>
          <p class="card-text">WARUM SO ERNST???? DUMDUMDUMDUMDUMDUMDUM... DUDUDUM... DAMDAM... DUMDUMDUMDUMDUMDUMDUM... DUDUDUDUDUDUM...</p>
          <a href="#" class="btn btn-primary">VENT........</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}