{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <h1>Autoři</h1>
    
</div>

<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 100%;">
          <img src="https://placehold.co/600x600" class="card-img-down" style="max-width: 300px;" alt="...">
          <div class="card-body">
            <h5 class="card-title">Leonardo da Vinci</h5>
            <p class="card-text">Placeholder</p>
            <a href="#" class="btn btn-primary">Click me</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 100%;">
          <img src="https://placehold.co/600x600" style="max-width: 300px;"class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Donatello</h5>
            <p class="card-text">Placeholder</p>
            <a href="#" class="btn btn-primary">Click me</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 100%;">
          <img src="https://placehold.co/600x600" style="max-width: 300px;"class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Paul Cezanne</h5>
            <p class="card-text">Placeholder</p>
            <a href="#" class="btn btn-primary">Click me</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}